body{
    background-color:yellow;
}

.row1{
    background-color: orange;
    display: flex;
    height:50px;
}
.lg-8{
    background-color: red;
    width: calc(100%/12*8);
    padding: 0 10px;
    box-sizing: border-box;
}